@import "@styles/autoload.scss";

/* html,
body {
    cursor: none !important;

    * {
        cursor: none !important;
    }
} */

.cursor {
    display: none;
    pointer-events: none;
    position: fixed;
    font-size: $icon-size-xs;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.15s ease-in-out 0s, height$transition ease-in-out 0s, width$transition ease-in-out 0s;

    /*  &:nth-child(1) {
        z-index: 999;

        ion-icon {
            color: $primary-color-600;
            font-size: $font-size-xs;
            transition: opacity 0.15s ease-in-out 0s, height$transition ease-in-out 0s, width$transition ease-in-out 0s;
        }

        &.active ion-icon {
            font-size: $icon-size-xs;
        }

        &.pointer ion-icon {
            font-size: rem(6px);
            background-color: $dark-color-700;
            border-radius: 50%;
            padding: rem(4px);
        }
    } */

    &:nth-child(2) {
        opacity: 0.6;
        background-color: $dark-color-transparent;
        width: rem(44px);
        height: rem(44px);
        z-index: 998;

        &.active {
            width: rem(40px);
            height: rem(40px);
        }

        &.pointer {
            background-color: $primary-color-600;
            border: rem(1px) solid $primary-color-600;
            width: rem(40px);
            height: rem(40px);
            animation: rippleAnimation 1.5s ease-out infinite;
            animation-fill-mode: forwards;
        }

        @keyframes rippleAnimation {
            0% {
                transform: translate(-50%, -50%) scale(0);
                opacity: 1;
            }
            100% {
                transform: translate(-50%, -50%) scale(1);
                opacity: 0;
            }
        }
    }

    &.no-visible {
        display: none;
    }
}

@include responsive {
    .cursor {
        display: block;
    }
}
