@import "../atoms/skillsItem.scss";

@mixin SkillsAboutContainer {
    .about_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        padding: rem(10px);
        padding-top: rem(40px);

        h2 {
            color: $dark-color;
            font-weight: $font-weight-bold;
            text-align: center;
            font-size: rem(40px);
        }

        .separator {
            width: 30%;
            height: rem(2px);
            background-color: $dark-color-700;
            margin: rem(40px);
        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            gap: rem(20px);

            background: transparent;
            width: 100%;
            text-align: center;

            padding: rem(20px);
            padding-bottom: rem(30px);

            article {
                display: flex;
                flex-direction: column;
                width: 100%;

                h2 {
                    text-align: start;
                    color: $dark-color;
                    font-size: $font-size-xxxl;
                    font-weight: $font-weight-bold;
                    margin: 0;
                    margin-bottom: rem(40px);

                    span {
                        font-weight: $font-weight-bold;
                    }
                }

                p {
                    text-align: left;
                    max-width: rem(730px);
                    color: $dark-color-transparent;
                    font-size: $font-size-md;
                    letter-spacing: rem(0.8px);
                    line-height: 1.5;

                    span {
                        font-weight: $font-weight-bold;
                        color: $dark-color-950;
                    }
                }

                .skills {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: rem(20px);
                    align-items: center;
                    justify-content: center;

                    width: 100%;
                    margin: rem(20px) 0;
                    margin-top: rem(40px);
                    order: 1;

                    @include skillItem;
                }

                a {
                    width: rem(250px);
                    color: $light-color;
                    font-weight: $font-weight-bold;
                    font-size: $font-size-lg;
                    margin-top: rem(40px);
                    letter-spacing: rem(0.8px);
                    display: flex;
                    align-items: center;
                    margin-bottom: rem(20px);
                    order: 2;
                    transition: $transition;

                    img {
                        width: rem(26px);
                        color: $light-color;
                        margin-left: rem(10px);
                        transition: $transition;
                    }
                }

                a:hover {
                    color: $primary-color;
                    transition: $transition;

                    img {
                        margin-left: rem(25px);
                        transition: $transition;
                    }
                }
            }

            .img {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 90%;
                height: 100%;
                padding: 0 rem(20px);
                margin: 0;

                .principal_img {
                    user-select: none;
                    width: 100%;
                    padding-top: 25%;
                }

                .html_img,
                .css_img,
                .javaScript_img,
                .react_img,
                .node_img {
                    position: absolute;
                    width: 15%;
                    animation: updown 3s linear infinite;
                }

                .html_img {
                    top: 12%;
                    left: 25%;
                }

                .css_img {
                    top: 30%;
                    right: 8%;
                }

                .javaScript_img {
                    top: 5%;
                    right: 25%;
                }

                .react_img {
                    left: 5%;
                    top: 30%;
                }

                .node_img {
                    bottom: 30%;
                    right: 2%;
                }

                @keyframes updown {
                    0% {
                        transform: translateY(rem(-10px));
                    }
                    50% {
                        transform: translateY(rem(10px));
                    }
                    100% {
                        transform: translateY(rem(-10px));
                    }
                }
            }
        }
    }

    @include responsive {
        .about_container {
            padding: rem(40px) 0;

            .text {
                flex-direction: row;

                article {
                    width: 60%;

                    .skills {
                        flex-direction: row;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                    }
                }

                .img {
                    width: 35%;
                }
            }
        }
    }
}
