@import "./atoms/headerLogo.scss";
@import "./atoms/headerCenterBtn.scss";
@import "./organims/headerNavbar.scss";

.header_home {
    background: rgb(36, 36, 36);
    background: linear-gradient(180deg, rgb(21, 21, 21) 0%, rgba(21, 21, 21, 0) 100%);
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    transition: 0.32s ease-in-out;
    z-index: 999;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        max-width: 132rem;

        padding: 3rem 2rem;
        transition: 0.32s ease-in-out;

        // ************ LOGO ************ \\
        @include logo;

        // ************ CENTER BUTTON ************ \\
        @include headerCenterBtn;

        // ************ NAVEGAITOR ************ \\
        @include headerNavbar;

        // ************ FUNTIONALITY HANDLER MENU ************ \\
        .close,
        .open {
            position: absolute;
            left: 0;
            flex-direction: column;
            justify-content: space-around;

            width: 100%;
            height: 100vh;
            background-color: var(--dark);

            padding: 20% 0;
            transition: 0.32s ease-in-out;

            .routes {
                flex-direction: column;
                gap: 15vh;
            }
        }

        .close {
            top: -100vh;
        }

        .open {
            top: 0;

            .routes {
                li a {
                    color: var(--lightNeutral);
                }
            }

            .social_icon a {
                border: 1px solid var(--lightNeutral);

                img {
                    filter: none;
                }
            }

            .btn_contact li a {
                color: var(--lightNeutral);
                border: 1px solid var(--lightNeutral);
            }
        }
    }
}

.scrolled {
    background: #26292ea8;
    border-bottom: 1px solid var(--dark);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);

    .container {
        padding: 2rem;

        .header_navbar {
            .routes {
                li a {
                    color: var(--lightNeutral);
                }
            }

            .social_icon a {
                border: 1px solid var(--lightNeutral);

                img {
                    filter: none;
                }
            }

            .btn_contact li a {
                color: var(--lightNeutral);
                border: 1px solid var(--lightNeutral);
            }

            .btn_contact li a {
                padding: 1.2rem 2rem;
            }
        }
    }
}

@media (min-width: 800px) {
    .header {
        .container {
            // ************ CENTER BUTTON ************ \\
            @include responsive-headerCenterBtn;

            // ************ FUNTIONALITY HANDLER MENU ************ \\
            .close {
                position: initial;
                display: flex;
                flex-direction: row;
                width: auto;
                height: auto;
                background-color: transparent;
                padding: 0;

                .routes {
                    flex-direction: row;
                    gap: 2rem;
                }
            }
        }
    }
}
