@import "./organims/skillsAboutContainer.scss";
@import "./atoms/btnCurriculum.scss";

@mixin skills {
    .about {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: var(--black);

        padding: 5rem 0;
        z-index: 1;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            width: 100%;
            max-width: 132rem;
            background: transparent;
            z-index: 2;

            @include SkillsAboutContainer;

            @include btn_curriculum;
        }
    }

    .targets {
        background: linear-gradient(to right, #1818189d, #38383885), url("../../assets/background.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        padding: 5rem 0;
    }
}

@mixin skills_responsive {
    .about .container {
        @include responsive-skillsAboutContainer;

        .abilities_container {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;

            .ability {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                gap: 4rem;

                width: 100%;
                height: 100%;

                border-radius: 0 0 1rem 1rem;
                padding: 0;

                .ability_target {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-around;

                    width: 100%;
                    height: 100%;
                    background: var(--black);
                    border-radius: 2rem;
                    padding: 2rem;
                    padding-left: 0;
                    padding-right: 60px;
                    transition: box-shadow 0.2s;

                    overflow: visible;
                    transform: translate(0);

                    img {
                        width: 30rem;
                        padding: 2rem 0;
                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 100%;
                        height: 100%;
                        min-height: 20rem;
                        max-width: 80rem;
                        padding: 2rem;

                        h3 {
                            text-align: start;
                        }

                        p {
                            text-align: start;
                            min-width: 100%;
                        }
                    }
                }
            }
        }
    }
}
