@import "@styles/autoload.scss";

// Components
@import "./components/templates/skills.scss";

.main_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - rem(73px));

    @include skills;
}
