@import "../molecules/listTecnologies.scss";

@mixin accordionTecnologies {
    .slider {
        height: 100px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
        max-width: 127rem;

        &::before,
        &::after {
            content: "";
            background: linear-gradient(to right, var(--primary) 0%, transparent 100%);
            height: 100px;
            position: absolute;
            width: 200px;
            z-index: 2;
        }

        &::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }

        &::before {
            left: 0;
            top: 0;
        }

        @include listTecnologies;
    }
}