@import "../../../../library/icons/socialIcon.scss";

@mixin bannerImage {
    .banner_image {
        position: relative;
        display: flex;
        align-items: flex-end;

        max-width: 20rem;
        max-height: 20rem;
        margin: 0;
        z-index: 1;

        &::after {
            content: "";

            position: absolute;
            top: 22.5%;
            left: -7.5%;

            width: 85%;
            height: 85%;
            border-radius: 18% 18% 18% 60%;

            border: 1px solid var(--darkLight);

            z-index: -1;
        }

        &::before {
            content: "";
            position: absolute;
            top: 30%;
            left: -15%;

            width: 85%;
            height: 85%;
            background-color: var(--darkTrasparent);
            border-radius: 18% 18% 18% 65%;
            z-index: -1;
        }

        .decoration {
            position: absolute;
            top: -3rem;
            right: 2rem;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            div {
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background-color: var(--darkPrimary);
            }
        }

        .picture {
            border-radius: 50%;
            border: 1px solid var(--darkLight);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.171);
        }

        .banner_social {
            position: relative;
            right: 5rem;
            bottom: -5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;
            list-style: none;

            @include socialIcon;
        }
    }
}

@mixin responsive-bannerImage {
    .banner_image {
        width: 50%;
        max-width: 45rem;
        max-height: 45rem;
    }
}
