// Component
@import "../molecules/title.scss";
@import "../molecules/greeting.scss";
@import "../molecules/buttons.scss";

@mixin bannerText {
    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30rem;

        text-align: center;
        width: 100%;

        padding: 6rem 3rem;
        padding-top: 4rem;

        @include title;
        @include greeting;
        @include buttons;
    }
}

@mixin responsive-bannerText {
    .text {
        align-items: start;
        justify-content: center;
        gap: 10rem;
        width: 60%;

        @include title-responsive;
        @include greeting_responsive;
        @include buttons-responsive;

        p {
            text-align: left;
            max-width: 64rem;
        }
    }
}
