@import "../molecules/card.scss";

@mixin rols {
    .rols {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: rem(20px);

        width: calc(100% - 6rem);
        max-width: 127rem;
        background-color: $primary-color-transparent;
        border-radius: rem(30px);
        box-shadow: 0 rem(4px) rem(30px) rgba(153, 144, 134, 0.342);

        padding: rem(20px);
        margin: rem(30px);
        margin-top: rem(40px);

        .role_header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: rem(20px);

            width: 90%;
            border-bottom: rem(1px) solid $primary-color-transparent;

            padding: rem(20px) 0;
            padding-bottom: rem(40px);

            h2 {
                color: $dark-color-950;
                text-align: center;
                font-size: rem(20px);
            }

            .btn_generic .custom-btn {
                flex-direction: row-reverse;
            }
        }

        .role_cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: rem(20px);
            width: 100%;

            @include card;
        }
    }

    @include responsive {
        .rols {
            width: calc(100% - 22rem);
            padding: rem(40px);

            .role_header {
                width: 100%;
                align-items: start;
                flex-direction: row;
                border-bottom: none;

                padding: 0;
                margin-bottom: rem(40px);

                h2 {
                    text-align: left;
                    font-size: 3.2rem;
                    max-width: rem(400px);
                }
            }

            .role_cards {
                align-items: stretch;
                justify-content: space-evenly;
                flex-direction: row;
                flex-wrap: wrap;
                gap: rem(40px);

                padding: 0;
            }
        }
    }
}
