// Component
@import "../atoms/greeting.scss";
@import "../atoms/btnCurriculum.scss";

@mixin bannerText {
    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        text-align: center;
        width: 100%;
        padding: 2rem;
        z-index: 2;

        @include greeting;

        p {
            transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            opacity: 1;
            transform-style: preserve-3d;
            max-width: 90rem;
            color: var(--lightNeutral);
            font-size: 16px;
            letter-spacing: 0.8px;
            line-height: 1.5em;
            width: 96%;
            margin-bottom: 6rem;
        }

        @include btn_curriculum;
    }
}

@mixin responsive-bannerText {
    .text {
        align-items: start;
        justify-content: center;

        @include greeting_responsive;

        p {
            text-align: left;
            max-width: 64rem;
        }
    }
}
