@mixin abilityTarget {
    .ability_target {
        display: grid;
        align-items: start;
        justify-content: center;
        justify-items: center;
        align-content: space-between;
        width: 100%;

        img {
            height: 20rem;
            padding: 2rem 0;
        }

        h3 {
            text-align: center;
            color: var(--textNeutral);
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2;
        }

        p {
            max-width: 40rem;
            text-align: center;
            color: var(--neutral);
            font-size: 18px;
            letter-spacing: 0.8px;
            line-height: 1.5em;
            margin: 2rem 0;
        }
    }
}
