@import "../components/banner.scss";
@import "../components/skills.scss";

.main_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    @include banner;
}

@media (min-width: 800px) {
    .main_home {
        @include responsive-banner;
    }
}
