// Components
@import "../components/projectsTitle.scss";
@import "../components/categoriesComponent.scss";
@import "../components/organims/project.scss";

.main_projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    padding-top: 10rem;

    @include projectsTitle;

    .container_filter {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: 100%;
        max-width: 142rem;

        margin-bottom: 7rem;

        .filtrer {
            position: sticky;
            top: 8rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-color: var(--black);
            padding: 0 2rem;
            padding-top: 2rem;

            z-index: 1;

            h2 {
                font-size: 2.2rem;
                display: none;
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                margin-bottom: 2rem;

                @include categoriesComponent;
            }
        }

        .projects_container {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: space-evenly;
            gap: 2rem;
            width: 100%;
            padding: 0 2rem;
            margin-top: 4rem;

            @include project;
        }
    }

    

    .grabber {
        position: relative;
        width: 100px;
        height: 100px;

        &__arm-wrapper {
            position: absolute;
            top: -80px;
            width: 24px;
            height: 260px;
        }

        &__arm {
            position: relative;
            width: 24px;
            height: 200px;
            background: #7d9a9e;
            border-radius: 20px;
            overflow: visible;
            transform: translateY(100%);
            transition: transform 0.2s ease;
        }

        &__hand {
            display: block;
            position: absolute;
            top: -12px;
            transform: scale(1.4) rotate(-10deg) translateY(100%);
            transform-origin: bottom center;
            transition: transform 0.3s ease;
        }

        &__face {
            position: absolute;
            width: 75px;
            height: 84px;
            right: 5%;
            transition: transform 0.3s ease;
        }

        &__body {
            position: absolute;
            top: 50%;
            left: 0%;
            width: 110px;
            height: 95px;
            border-radius: 50%;
            background: #7d9a9e;
            transition: transform 0.3s ease;
        }

        // Modifiers
        &--waiting {
            .grabber__hand {
                transform: scale(1.4) rotate(-10deg);
            }
            .grabber__arm {
                transform: translateY(80%);
            }
            .grabber__face {
                transform: translateY(60%);
            }
        }

        // Modifiers
        &--stalking {
            .grabber__hand {
                transform: scale(1.4) rotate(-10deg);
            }
            .grabber__arm {
                transform: translateY(70%);
            }
            .grabber__face {
                transform: translateY(10%);
            }
        }

        &--grabbing {
            .grabber__face {
                transform: translateY(-40%) rotate(10deg);
            }
            .grabber__arm {
                transform: translateY(0%);
            }
            .grabber__body {
                transform: translateY(-20%);
            }
            .grabber__hand {
                transform: scale(1.7) rotate(10deg);
            }
        }

        &--grabbed {
            .grabber__arm {
                transition: transform 1s ease;
            }
            .grabber__hand {
                transition: transform 2.5s ease;
            }
            .grabber__face {
                transform: translateY(70%);
                transition: transform 1s ease;
            }
            .grabber__body {
                transform: translateY(50%);
                transition: transform 1s ease;
            }
        }

        &--extended {
            .grabber__arm {
                transform: translateY(-20%);
            }
            .grabber__face {
                transform: translateY(-60%) rotate(15deg);
            }
            .grabber__body {
                transform: translateY(-40%);
            }
        }

        &--shaka {
            .grabber__arm {
                transform: translateY(50%);
            }
            .grabber__hand {
                transform: scale(2.5) translateY(10%);
                animation: shaka 0.5s infinite alternate forwards;
                transform-origin: 55% 60%;
            }
            .grabber__face {
                transform: translateY(70%);
                transition: transform 1s ease;
            }
            .grabber__body {
                transform: translateY(50%);
                transition: transform 1s ease;
            }
        }
    }

    .trap-button {
        position: absolute;
        bottom: 80px;
        right: 70px;
        min-width: 125px;
        background: #8ecacc;
        color: white;
        border-radius: 5px;
        padding: 0.4rem 0.5rem;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .debug-button {
        position: fixed;
        top: 0;
        right: 0;
        background: transparent;
        padding: 1rem;
        margin: 1rem;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        opacity: 0.5;
    }

    @keyframes shaka {
        0% {
            transform: scale(2.5) translateY(0%) rotate(-20deg);
        }
        100% {
            transform: scale(2.5) translateY(0%) rotate(20deg);
        }
    }
}

@media (min-width: 800px) {
    .main_projects {
        .container_filter {
            flex-direction: row;

            .filtrer {
                top: 12rem;
                align-items: flex-end;
                max-width: 24rem;
                border-right: 1px solid var(--darkNeutral);
                padding-right: 2rem;
                padding-left: 0;
                margin-right: 2rem;

                h2 {
                    display: initial;
                    text-align: right;
                    color: var(--light);
                    margin-bottom: 2rem;
                }

                ul {
                    flex-direction: column;
                    align-items: flex-end;
                }
            }

            .projects_container {
                padding: 0;
                margin-top: 0;
            }
        }
    }
}
