:root {
    --primary: #00af66;
    --primaryHover: #30ae79;
    --darkPrimary: #0c8e58;

    --secundary: #10b5fa;

    --highLight: #ffffff;
    --light: #f0f0f2;
    --darkLight: #4c4e59;

    --dark: #2f3238;
    --black: #26292e;

    --lightNeutral: #e2e8f0;
    --neutral: #c1c5cc;
    --darkNeutral: #7f8289;

    --textNeutral: #b8b8b8;
}
