:root {
    --primary: #10b5fa;
    --primaryHover: #076787;
    --darkPrimary: #076787;

    --secundary: #de5e60;

    --highLight: #ffffff;
    --light: #f0f0f2;
    --darkLight: #4c4e59;

    --dark: #2f3238;
    --black: #26292e;

    --lightNeutral: #e2e8f0;
    --neutral: #7F8289;
    --darkNeutral: #7F8289;

    --textNeutral: #b8b8b8;
}
