:root {
    --ligth: #ffffff;
    --oscure: #151515;
    --desactive: rgba(0, 0, 0, 0.55);
    --grey: rgb(93, 93, 93);
    --greyLigth: rgba(217, 217, 217, 0.1);
    --greyLigthMedium: rgba(255, 255, 255, 0.5);
    --green: #00af66;
}
