@mixin listTecnologies {
    .slide {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        width: rem(120px);
        height: rem(28px);

        &::after {
            content: "";
            position: absolute;
            left: 0;

            width: 100%;
            height: 60%;

            border-left: 2px solid $primary-color-transparent;
        }

        img {
            width: auto;
            max-width: rem(50px);
            height: rem(28px);
        }
    }

    @include responsive {
        .slide {
            width: rem(180px);
            height: rem(40px);

            img {
                max-width: rem(80px);
                height: rem(40px);
            }
        }
    }
}
