@mixin tag {
    span {
        border: rem(1px) solid $dark-color-700;
        background-color: $dark-color-transparent;
        color: $primary-color;
        border-radius: rem(10px);
        padding: rem(5px) 1rem;
        font-size: $font-size-xs;
    }
}
