@import "../organisms/accordionTecnologies.scss";
@import "../organisms//rols.scss";

@mixin tecnology {
    .tecnology {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        background-color: $primary-color;
        overflow: hidden;

        padding: rem(50px) 0;
        padding-top: rem(80px);

        h3 {
            text-align: center;
            color: $contrast-color-800;
            font-size: $icon-size-sm;
            font-weight: $font-weight-regular;

            padding: 0 rem(30px);
            margin-bottom: rem(40px);
        }

        @include accordionTecnologies;
        @include rols;
    }

    @include responsive {
        .tecnology {
            h3 {
                width: calc(100% - 17rem);
                font-size: $icon-size-sm;
            }
        }
    }
}
