@import "../organisms/accordionTecnologies.scss";
@import "../organisms//rols.scss";

@mixin tecnology {
    .tecnology {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        background-color: var(--primary);
        overflow: hidden;

        padding: 5rem 0;
        padding-top: 8rem;

        h3 {
            text-align: center;
            color: var(--darkNeutral);
            font-size: 1.6rem;
            font-weight: normal;

            padding: 0 3rem;
            margin-bottom: 4rem;
        }

        @include accordionTecnologies;
        @include rols;
    }
}

@mixin responsive-tecnology {
    .tecnology {
        h3 {
            width: calc(100% - 17rem);
            font-size: 1.6rem;
        }

        @include responsive-accordionTecnologies;
        @include responsive-rols;
    }
}
