@import "@styles/autoload.scss";

// Components
@import "../../library/title/title.scss";
@import "./components/templates/categoriesComponent.scss";
@import "./components/organisms/project.scss";

.main_projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    padding-top: 10rem;

    @include projectsTitle;

    .container_filter {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: 100%;
        max-width: 142rem;

        margin-bottom: rem(70px);

        .filtrer {
            position: sticky;
            top: 8rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-color: var(--black);
            padding: 0 2rem;
            padding-top: 2rem;

            z-index: 1;

            h2 {
                font-size: 2rem;
                display: none;
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                margin-bottom: 2rem;

                @include categoriesComponent;
            }
        }

        .projects_container {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: space-evenly;
            gap: 2rem;
            width: 100%;
            padding: 0 2rem;
            margin-top: 4rem;

            @include project;
        }
    }
}

@media (min-width: 800px) {
    .main_projects {
        .container_filter {
            flex-direction: row;

            .filtrer {
                top: 12rem;
                align-items: flex-end;
                max-width: 24rem;
                border-right: 1px solid var(--darkNeutral);
                padding-right: 2rem;
                padding-left: 0;
                margin-right: 2rem;

                h2 {
                    display: initial;
                    text-align: right;
                    color: var(--light);
                    margin-bottom: 2rem;
                }

                ul {
                    flex-direction: column;
                    align-items: flex-end;

                    @include categoriescomponent_responsive;
                }
            }

            .projects_container {
                padding: 0;
                margin-top: 0;
            }
        }
    }
}
