@mixin categoriesComponent {
    li {
        display: flex;
        align-items: center;
        justify-content: center;

        .btn_desactive,
        .btn_active {
            color: $contrast-color-800;
            font-size: $font-size-sm;
            padding: rem(10px);
            border-bottom: none;
            transition: $transition;

            &:hover {
                color: $contrast-color-400;
                transition: $transition;
            }
        }

        .btn_desactive {
            transition: $transition;
        }

        .btn_active {
            color: $primary-color;
            border-bottom: rem(1px) solid $primary-color;
            transition: $transition;
        }

        .btn_active:hover {
            color: $primary-color;
        }
    }

    @include responsive {
        li {
            .btn_desactive,
            .btn_active {
                font-size: $font-size-lg;
            }
        }
    }
}


