@import "../atoms/listTecnologies.scss";

@mixin accordionTecnologies {
    .slider {
        overflow: hidden;
        position: relative;

        height: rem(28px);
        width: calc(100% - rem(60px));
        max-width: rem(1270px);
        mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
        -webkit-mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);

        margin: auto;
        margin-bottom: rem(40px);

        &::before,
        &::after {
            content: "";
            position: absolute;
            background: linear-gradient(to right, var(--primary) 0%, transparent 100%);
            height: rem(28px);
            width: rem(120px);

            z-index: 2;
        }

        &::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }

        &::before {
            left: 0;
            top: 0;
        }

        @include listTecnologies;
    }

    @include responsive {
        .slider {
            width: calc(100% - rem(220px));
            height: rem(40px);

            &::before,
            &::after {
                content: "";
                height: rem(40px);
                width: rem(180px);
            }
        }
    }
}
