@mixin buttons {
    .buttons {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: rem(20px);

        .btn_projetcs {
            width: rem(140px);
            height: rem(38px);
            font-size: $icon-size-sm;
            background-color: $dark-color-transparent;
            border: rem(1px) solid $primary-color-700;
            border-radius: rem(50px);
            color: $primary-color;
            padding: rem(4px);

            &:hover {
                background-color: $primary-color;
                color: $dark-color-950;
                border: rem(1px) solid $dark-color;

                .custom-btn {
                    color: $dark-color-950;
                }
            }

            .custom-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: rem(10px);

                color: $primary-color;
                padding: rem(5px);
                height: rem(40px);

                ion-icon {
                    font-size: $icon-size-md;
                }
            }

            &:first-of-type {
                background-color: $primary-color-300;
                box-shadow: $box-shadow;

                &:hover {
                    background-color: $primary-color-600;
                    border: rem(1px) solid $primary-color;

                    .custom-btn {
                        color: $dark-color-950;
                    }
                }

                .custom-btn {
                    color: $dark-color;
                }
            }

            &:last-child {
                border: rem(1px) solid $dark-color-700;
                background: $dark-color-transparent;
                backdrop-filter: blur(rem(7.6px));
                -webkit-backdrop-filter: blur(rem(7.6px));

                &:hover {
                    background-color: $primary-color-600;
                }
            }
        }
    }

    @include responsive {
        .buttons {
            flex-direction: row;

            .btn_projetcs {
                width: rem(160px);
                height: rem(45px);
            }
        }
    }
}
