@mixin listTecnologies {
    .slide {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 12rem;
        height: 2.8rem;

        &::after {
            content: "";
            position: absolute;
            left: 0;

            width: 100%;
            height: 60%;

            border-left: 2px solid var(--primaryTrasparent);
        }

        img {
            width: auto;
            max-width: 5rem;
            height: 2.8rem;
        }
    }
}

@mixin responsive-listTecnologies {
    .slide {
        width: 18rem;
        height: 4rem;

        img {
            max-width: 8rem;
            height: 4rem;
        }
    }
}
