:root {
    --lightPrimary: #e3dbd0;
    --primary: #d5cdc0;
    --primaryAccent: #c4b6a8;
    --primaryHover: #c4b6a8;
    --darkPrimary: #999086;

    --lightSecundary: #a2c49b;
    --secundary: #779c76;
    --secundaryHover: #627e5c;
    --darkSecundary: #516a4e;

    --highLight: #ffffff;
    --light: #f6f6f6;
    --darkLight: #4c4e59;

    --dark: #2f3238;
    --darkTrasparent: #2f3238c0;
    --black: #26292e;

    --lightNeutral: #e6e6e6;
    --neutral: #c1c5cc;
    --darkNeutral: #706f6f;

    --textNeutral: #b8b8b8;
}
